server {
    server_name pmpl.de;

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    server_name pmpl.de;

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/webroot/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/webroot/privkey.pem;

    location / {
        root /opt/git/github.com/fenhl/pmpl.de/master;
    }

    location ~ .well-known/acme-challenge/ {
        root /var/www/letsencrypt;
        default_type text/plain;
    }
}
